* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

#container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
}

#image-slider {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    animation: slide 9s infinite ease-in-out;
}

@keyframes slide {
    0%, 33% {
        transform: translateX(0);
    }
    34%, 66% {
        transform: translateX(-100%);
    }
    67%, 100% {
        transform: translateX(-200%);
    }
}

#auth-container {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#signup, #login {
    width: 100%;
    max-width: 400px;
    display: none;
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);
    
}

#signup {
    display: block;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #444;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

input:focus {
    border-color: #007bff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}


a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    #container {
        flex-direction: column;
        height: 90%;
    }

    #image-slider {
        width: 100%;
        height: 40%;
    }

    #auth-container {
        width: 100%;
        height: 60%;
        padding: 50px;
    }

    h1 {
        font-size: 20px;
    }

    input, button {
        font-size: 14px;
    }
}
.background-video{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    z-index: 1; 
    text-align: center;
    color: white;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1;
    opacity: 0.6; 
    pointer-events: none; 
}
